@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.todo-list__wrapper {
   padding: 40px 20px;
}

.container {
    padding: 20px;
}
.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}